<div class="custom_footer_main" >
	<h1><?php echo $this->__("LEST'S CONNECT"); ?></h1>
	<h5><?php echo $this->__("Lorem ipsum dolor sit amet, consectetuer adipiscing elit"); ?></h5>
	<div class="custom_footer_container">
		<div class="custom_footer_content">
			<i class="far fa-envelope"></i>
			<p><?php echo $this->__("GENERAL INFO"); ?></p>
			<P><?php echo $this->__("info@website.com"); ?></P>
			
		</div>
		<div class="custom_footer_content">
			<i class="fas fa-credit-card"></i>
			
			<p><?php echo $this->__("CAREERS"); ?></p>
			<P><?php echo $this->__("careers@website.com"); ?></P>
			
			</div>
		<div class="custom_footer_content">
			<i class="fab fa-twitter"></i>
			<p><?php echo $this->__("TWITTER"); ?></p>
			<P><?php echo $this->__("@website.com"); ?></P>
				
		</div>
		<div class="custom_footer_content">
			<i class="fab fa-facebook-square"></i>
			<p><?php echo $this->__("FACEBOOK"); ?></p>
			<P><?php echo $this->__("website.com"); ?></P>
				
		</div>
	</div>
	<hr>
	<div>
		<a href="" title=""><?php echo $this->__("Copyright Website 2017"); ?></a>
		<a href="" title=""><?php echo $this->__("LPrivacy Policy"); ?></a>
		<a href="" title=""><?php echo $this->__("Disclaimer"); ?></a>
		<a href="" title=""><?php echo $this->__("Site map"); ?></a>
		
	</div>
		
		
	
</div>