<form action="<?php echo $this-> getUrl ('faq/index/form') ?>" method="POST">
	<label for="question">Question:</label>
	<input type="text" name="question" required="required"><br>
	<label for="categories[]">Category:</label>
	<select name="categories[]">
		<?php foreach ($this->getCategoryCollection() as $category): ?>
			<option value="<?=$this->htmlEscape($category->getId()) ?>"><?=$this->htmlEscape($category->getName()) ?></option>
		<?php endforeach ?>
		
		
	</select>
	<br>
	<button type="submit" name="submit">Submit</button>
</form>